{% extends 'base.html.twig' %}

{% block title %}Hello CGUController!
{% endblock %}

{% block body %}

	{{ include("partials/title_section.html.twig", {'name':'Register'}) }}

	<div class="container">
		<h1 class="text-center">Conditions Générales d'Utilisation de MALAH</h1>

		<p class="text-justify">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis ducimus fuga porro ipsam iste eius non voluptas? 
												            Accusantium quas corporis porro eum dolore qui rerum fugiat? Quam reiciendis asperiores accusamus!
												            Earum fugiat, architecto fuga quibusdam assumenda autem qui minus pariatur cupiditate voluptatem exercitationem sint eius est ullam,
												                quia facere aspernatur velit veritatis rem laboriosam ducimus ex. Aut tempore aspernatur dicta!
												            Illum ipsa odio cum ut veniam deserunt, vitae dicta unde aperiam suscipit recusandae consectetur, culpa quam,
												                voluptatem molestiae repellendus modi quia qui dolore eligendi nulla nisi.
												                Quam velit fugit placeat?
												            Explicabo sapiente atque, sequi laudantium sed vel architecto, numquam provident quos recusandae necessitatibus quod esse debitis neque obcaecati commodi!
												                Delectus minus, officia quis nisi deserunt dolorem deleniti iusto esse impedit.
												            Ea dicta, quia dolore quos nam aut, sit dolor a provident velit illo error debitis laborum? Aliquid quasi perspiciatis quis soluta tempore unde,
												                deleniti asperiores repellendus vel impedit minus placeat.
												            Ipsum, eligendi porro. Harum illum tempora eligendi reiciendis ullam sapiente fugit rem, voluptate et quos facere illo repudiandae.
												                Exercitationem enim iusto ipsam quaerat obcaecati placeat explicabo velit numquam recusandae iste.
												            Nemo quis, facilis nisi nobis ipsam sunt ullam rem vel, commodi similique deserunt provident ad. Error quasi, ab dolores ducimus at ratione quisquam dolorum omnis culpa magnam. Soluta, ducimus sint.
												            Molestiae unde expedita assumenda quidem, cumque ipsam a facere aliquam omnis, veritatis nesciunt id vitae error reiciendis?
												                Voluptatibus aut dicta distinctio deserunt nobis hic eius sit et recusandae rerum. Architecto.
												            Tempora pariatur consectetur, qui explicabo distinctio totam! Hic commodi deleniti aut culpa quam nihil fugit quibusdam molestiae eius! Eaque doloribus distinctio nulla nam repellendus quaerat incidunt animi quae harum facilis?
												            Necessitatibus ullam cupiditate est repellendus autem hic repellat dolorum dolor consectetur magni aspernatur iure temporibus, minus ad fugit nisi eveniet ipsa ea, odio, veritatis deserunt in enim. Itaque, iure perspiciatis!
												            Officiis cumque architecto in dolores sit, a mollitia neque non veritatis quisquam libero, placeat sint consequuntur atque quod enim eveniet! Temporibus architecto saepe beatae cum animi facere iusto, harum minus.
												            Omnis cumque sint sapiente numquam voluptatem dolor et dolores! Ratione velit quibusdam voluptatum minima temporibus odio ut voluptate cumque in nulla aperiam modi quidem ducimus quae, laudantium error itaque odit.
												            Ullam fugiat neque quis odio soluta doloribus dolorem eligendi mollitia explicabo quae culpa quisquam nostrum, sapiente nemo at laboriosam in numquam necessitatibus vel? Nostrum fugit facilis itaque soluta deserunt rem!
												            Quod delectus beatae ex ut quos nam fuga rem, voluptatibus quasi distinctio impedit quas nihil sint. Minima commodi cumque maiores! Cumque labore qui sed autem provident ex sit. Eligendi, adipisci.
												            Sint quia minima nostrum officiis, ullam sed molestias ipsam consequuntur rem cum at, cumque illo culpa, asperiores atque suscipit necessitatibus consequatur magnam odio! Maiores, architecto veniam! Nihil nesciunt dolore tempora.
												            Vero tempora ipsa error accusamus, laudantium consectetur excepturi saepe adipisci qui quis! Numquam quia nemo quidem ipsa maiores corrupti est quos illo. Molestiae, ipsa fuga quos delectus velit voluptatem laboriosam.
												            Corrupti totam dolorum earum fugiat, magnam possimus impedit consectetur vitae error sapiente nihil ducimus, atque culpa quidem omnis dolorem harum odio architecto voluptatem qui vel, unde ut? Eius, qui maiores.
												            Distinctio accusantium provident quo, nemo debitis est. Delectus tempora dolor corporis eum? Debitis suscipit ea culpa esse corrupti assumenda unde commodi eligendi rerum, atque eos illum neque nemo molestiae inventore.
												            Illo, hic, quibusdam blanditiis nobis at dignissimos vel alias libero suscipit soluta iusto similique officiis est unde error aspernatur voluptatibus ex dolor. Omnis error nihil possimus voluptate, sit amet! Praesentium.
												            Est eveniet magni quos. Ea dolor optio quae quam ratione commodi alias consequatur debitis porro. Numquam aliquid officiis libero molestias porro provident voluptatibus consectetur cupiditate quam assumenda saepe, facere dolores.
		</p>
	</div>
{% endblock %}
